@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
.h1 {
  font-family: "Rubik-Black", sans-serif;
  font-size: 3rem;
  color: #c5d0e7; }

.h2 {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  color: #ff752a;
  padding-left: 23%; }

button {
  padding: 10px;
  min-width: 100px;
  background-color: #a0d2eb; }
  button:hover {
    background-color: #ffffff;
    color: #a0d2eb; }

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.15rem; }

input {
  background-color: silver;
  border: 1px solid #1b0f29;
  border-radius: 5px;
  padding: 5px;
  margin: 2px 0;
  color: #ffffff; }

ul {
  list-style-type: none; }

.col {
  flex: 1 1 100%;
  position: relative; }
  .col--halves {
    flex: 1 1 50%; }
  .col--quarters {
    flex: 1 1 25%; }
  .col--thirds {
    flex: 1 1 33.33%; }

.flex-grid {
  position: relative;
  flex-wrap: nowrap;
  display: flex;
  justify-content: flex-start; }

.cards, .news {
  min-height: 250px;
  margin: 10px;
  background-color: #5b8786;
  box-sizing: border-box; }

.news--title {
  position: absolute;
  margin-top: 13%;
  padding-left: 2%;
  font-family: "Rubik-Black", sans-serif;
  font-size: 3rem;
  color: #c5d0e7; }
.news--subtitle {
  position: absolute;
  padding-top: 17%;
  padding-left: 2%;
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem;
  color: #ff752a; }
.news--titlecards {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-family: "Rubik-Black", sans-serif;
  font-size: 1.5rem;
  color: #c5d0e7; }
.news--telecharger {
  display: flex;
  justify-content: center;
  background-color: #573187;
  min-height: 40%;
  margin-top: 30px; }
.news--buttonemp {
  padding-top: 8%; }
.news--bourse {
  margin: 40px; }
.news--meteoimg {
  display: flex;
  justify-content: center;
  background-color: #573187;
  min-height: 60%;
  margin: 2em 3em; }
.news--mot {
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  margin: 2em 3em; }
.news--president {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  margin: 1em; }
.news--ready {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  color: #ff752a; }
.news--coloque {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #573187; }
.news--stjean {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  min-height: 30%;
  margin-top: 2em; }
.news--fond {
  display: flex;
  justify-content: center;
  background-color: #573187;
  min-height: 20%;
  margin-top: .5em; }
.news--containerimg {
  display: flex;
  justify-content: space-around;
  flex-flow: row; }
.news--litteleimg {
  margin-top: .7em;
  background-color: #ffffff;
  height: 135px;
  width: 135px; }
.news--titlevent {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-left: 10px;
  font-family: "Rubik-Black", sans-serif;
  font-size: 1.5rem;
  color: #c5d0e7; }
.news--litteletxt {
  font-size: 1rem;
  padding: 10px; }
.news--form {
  display: flex;
  justify-content: center;
  flex-flow: column;
  margin: 2em; }

.menubg {
  background-color: #635896; }

.menu-content {
  padding-left: 10%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 50px; }

.login {
  color: #ffffff;
  position: absolute;
  margin-right: 10%;
  align-self: center;
  right: 0; }

.nav {
  padding-left: 20%;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: flex-start;
  text-align: center;
  background-color: #a0d2eb; }
  .nav--item {
    color: #ffffff;
    display: block;
    padding: 25px;
    background-color: #a0d2eb;
    text-decoration: none; }
    .nav--item:hover {
      background-color: #ffffff;
      color: #a0d2eb; }
    .nav--item.is-active {
      display: block;
      background-color: #ffffff;
      color: #a0d2eb; }

.wrapper {
  max-width: 1240px;
  width: 95%;
  margin: auto; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  background-color: #c5d0e7; }

/*# sourceMappingURL=style.css.map */
