
.menubg{
    background-color: $purple;
}
.menu-content{
    padding-left:10%;
    display:flex;
    flex-flow: row wrap;
    align-content:center;
    justify-content:space-between;
    padding-bottom: 50px;
    padding-top: 50px;
}
.login{
    color:$white;
    position: absolute;
    margin-right: 10%;
    align-self: center;
    right: 0;
}

.nav{
    padding-left:20%;
    display:flex;
    flex-flow: row wrap;
    align-content:center;
    justify-content:flex-start;
    text-align: center;
    background-color: $blue;

    &--item{
        color:$white;
        display:block;
        padding:25px;
        background-color: $blue;
        text-decoration: none;
        &:hover{
            background-color: $white;
            color:$blue;
        }
        &.is-active{
            display:block;
            background-color: $white;
            color:$blue;
        } 
    }

}