.h1 {
	font-family: $title-fonts;
    font-size: $h1;
    color: $lightpurple;
}

.h2 {
	font-family: $subtitle-fonts;
    font-size: $h2;
    color: $orange;
    padding-left: 23%;
}

button{
    padding: 10px;
    min-width: 100px;
    background-color: $blue;
	&:hover{
        background-color: $white;
        color: $blue;

	}
}

body {
	font-family: $rubik;
	font-size: $base-size;
}

input{
	background-color:lighten(gray,25%);
	border:1px solid darken($darkpurple, 25%);
	border-radius:5px;
    padding:5px;
    margin: 2px 0;
	color: $white;
}
ul{
    list-style-type: none;
}