@import 'card';
.news {
    @extend .cards;
  

    &--title{
        position: absolute;
        margin-top: 13%;
        padding-left: 2%;
        font-family: $title-fonts;
        font-size: $h1;
        color: $lightpurple;
    }

    &--subtitle{
        position: absolute;
        padding-top: 17%;
        padding-left: 2%;
        font-family: $subtitle-fonts;
        font-size: $h2;
        color: $orange;
    }

    
    &--titlecards{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        font-family: $title-fonts;
        font-size: $category;
        color: $lightpurple;
    }
    
    &--telecharger{
        display: flex;
        justify-content: center;
        background-color: $darkpurple;
        min-height:40%;
        margin-top: 30px;
    }
    
    &--buttonemp{
        padding-top: 8%;
    }
    
    &--bourse{
        margin:40px;
    }
    
    &--meteoimg{
        display: flex;
        justify-content: center;
        background-color: $darkpurple;
        min-height: 60%;
        margin: 2em 3em;
    }

    
    &--mot{
        display: flex;
        justify-content: center;
        font-size: $card-desc;
        margin: 2em 3em;
    }
    
    &--president{
        display: flex;
        justify-content: flex-end;
        font-size: $name;
        margin: 1em;
    }
    
    &--ready{
        display: flex;
        justify-content: center;
        font-size: $ready;
        color: $orange;
    }
    
    &--coloque{
        display: flex;
        justify-content: center;
        font-size: $h1;
        color: $darkpurple;
    }
    
    &--stjean{
        display: flex;
        justify-content: center;
        background-color: $white;
        min-height: 30%;
        margin-top: 2em;
    }

    &--fond{
        display: flex;
        justify-content: center;
        background-color: $darkpurple;
        min-height: 20%;
        margin-top: .5em;
    }
    
    &--containerimg{
        display: flex;
        justify-content: space-around;
        flex-flow: row;
    }

    &--litteleimg{
        margin-top: .7em;
        background-color: $white;
        height: 135px;
        width: 135px;
    }

    &--titlevent{
        display: flex;
        justify-content: center;
        flex-flow: column;
        padding-left: 10px;
        font-family: $title-fonts;
        font-size: $category;
        color: $lightpurple;
    }
    
    &--litteletxt{
        font-size: $little;
        padding: 10px;
    }

    &--form{
        display: flex;
        justify-content: center;
        flex-flow: column;
        margin: 2em;
    }
}