//Font
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
$rubik: 'Rubik', sans-serif;
$rubik-bold: 'Rubik-Black', sans-serif;
$fonts: Helvetica, sans-serif;
$subtitle-fonts: $rubik;
$title-fonts: $rubik-bold;

// Font sizes
$h1: 3rem;
$h2: 1.25rem;
$h3: 1.25rem;
$ready: 5rem;
$card-desc:1.25rem;
$base-size: 1.15rem;
$category: 1.5rem;
$links-size: 1.15rem;
$little: 1rem;
$name: .75rem;



//Color
$purple: #635896;
$lightpurple: #c5d0e7;
$azule: #5b8786;
$darkpurple: #573187;
$blue: #a0d2eb;
$white: #ffffff;
$orange: #ff752a;
